# Virtual Environments
.venv/
venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# PyTorch Weights
*.pt
*.pth

# IDEs and OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs
*.log

# Node (in case run from root)
node_modules/

# Datasets and Models
*.csv
data/
models/
results/

# Videos
*.mp4
*.avi
frontend/public/videos/
